/*********************　メイン　*********************/
img{
	width: 40%;
	height: auto;
}

@media (max-width: 768px) {
	.top-img img{
		width: 100%;
		height: auto;
	}
}

.img{
	text-align: center;
}

.event p:last-of-type,
.main-otoiawase p:last-of-type {
	margin-bottom: 40px;
}

.after {
  display: none;
}

